@import url("http://fonts.cdnfonts.com/css/tex-gyre-termes?styles=843,842,841,840");

.posts {
  display: flex;
  flex-direction: column;
  border-top: solid 2.6px gray;
  margin: 0px 23px;
  flex: 7;
}

.posts-section-title {
  font-size: 1.5rem;
  font-family: "TeXGyreTermes", sans-serif;
  font-weight: 400;
  position: relative;
  left: 60px;
  padding: 25px 1px;
  font-family: "TeXGyreTermes", sans-serif;
  font-weight: 400;
  width: 90px;
}

.all-posts {
  flex: 7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
}
