@import url("https://fonts.cdnfonts.com/css/tex-gyre-termes?styles=843,842,841,840");
@import url("https://fonts.cdnfonts.com/css/josefin-sans-std");

.about-section {
  margin: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 62vh;
  padding: 20px;
  font-family: "Josefin Sans Std", sans-serif;
}

.about-head {
  bottom: 25rem;
  position: absolute;
  left: 56px;
}

.about-title {
  font-size: 2.2rem;
  font-family: "TeXGyreTermes", sans-serif;
  font-weight: 400;
}

.about-content {
  font-size: 1.3rem;
  font-family: "Josefin Sans Std", sans-serif;
}

.about-form {
  display: flex;
  flex-direction: column;
  margin: 30px 20px;
  justify-content: center;
  position: relative;
  left: 243px;
  top: 1rem;
}

.form-title {
  padding: 7px 29px;
  font-size: 1.2rem;
  font-family: "TeXGyreTermes", sans-serif;
  font-weight: 400;
}

.contact-details-sec {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 32px;
  column-gap: 40px;
}

.contact-sec {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.about-input {
  background-color: #f7f7f7;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 400px;
  padding: 6px 5px;
}

.about-message {
  border: 1px solid grey;
  width: 26rem;
  height: 8rem;
}

.about-form-btn {
  width: 110px;
  font-size: 1.2rem;
  padding: 8px 28px;
  background-color: darkgrey;
  border: none;
  color: #2b2b2b;
  border-radius: 21px;
  font-family: "Josefin Sans Std", sans-serif;
  cursor: pointer;
  margin-left: 30px;
}

.about-form-btn:hover {
  background-color: rgb(88, 88, 88);
  color: #ececec;
}
