@media (max-width: 1378px) {
  .single-blog-page {
    flex-direction: column;
    row-gap: 0px;
    margin: 0;
  }

  .single-post-title {
    margin: 10px 24px;
    text-align: center;
  }

  .single-post-info {
    width: 18rem;
    margin: 10px 55px;
    justify-content: center;
  }
}

@media (max-width: 386px) {
  .single-post-head {
    width: 261px;
  }
}

@media (max-width: 780px) {
  .single-blog-section img {
    height: 277px;
  }
}
